<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Студенты</title>
    <link rel="stylesheet" href="../../../static/node_modules/bootstrap/dist/css/bootstrap.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../../static/css/style.css"
          th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <h1>Список студентов</h1>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th><a class="sorted" sd:pagination-sort="id">Номер зачётки </a></th>
            <th><a class="sorted" sd:pagination-sort="lastName">Фамилия </a></th>
            <th><a class="sorted" sd:pagination-sort="firstName">Имя </a></th>
            <th><a class="sorted" sd:pagination-sort="birthDate">Дата рождения </a></th>
            <th><a class="sorted" sd:pagination-sort="groupByGroupId.id">Группа </a></th>
            <th><a class="sorted" sd:pagination-sort="groupByGroupId.course">Курс </a></th>
            <th><a class="sorted" sd:pagination-sort="groupByGroupId.specialtyBySpecialtyId.id">Специальность </a></th>
            <th><a class="sorted" sd:pagination-sort="groupByGroupId.specialtyBySpecialtyId.facultyByFacultyId.name">Факультет </a>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="page" type="org.springframework.data.domain.Page<ru.eninja.piaps.domain.Student>"*/-->
        <tr th:each="student : ${page}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.birthDate}"></td>
            <td th:text="${student.groupByGroupId.id}"></td>
            <td th:text="${student.groupByGroupId.course}"></td>
            <td th:text="${student.groupByGroupId.specialtyBySpecialtyId.id}"></td>
            <td th:text="${student.groupByGroupId.specialtyBySpecialtyId.facultyByFacultyId.name}"></td>
            <td><a href="#">Edit</a></td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-6">
            Показывать <div class="btn-group dropup" sd:page-size-selector="dropdown"></div> записей
            <div sd:pagination-summary="">info</div>
        </div>
        <div class="col-sm-6">
            <nav class="pull-right">
                <ul class="pagination" sd:pagination="full">
                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--<div>-->
    <!--<span sd:pagination-summary="compact">info</span>-->
    <!--<div class="btn-group pager-compact" sd:pagination="compact-pager">-->
    <!--&lt;!&ndash; Pagination created by SpringDataDialect, this content is just for mockup &ndash;&gt;-->
    <!--<a href="#" class="btn btn-default disabled"><span class="glyphicon glyphicon-chevron-left"></span></a>-->
    <!--<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></a>-->
    <!--</div>-->
    <!--</div>-->
</div>

<script src="../../../static/node_modules/jquery/dist/jquery.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../../../static/node_modules/bootstrap/dist/js/bootstrap.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>