<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Информация о студенте</title>
    <link rel="stylesheet" href="../../../static/node_modules/bootstrap/dist/css/bootstrap.css"
          th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="well">
        <!--/*@thymesVar id="student" type="ru.eninja.piaps.domain.Student"*/-->
        <div class="form-horizontal" th:object="${student}">
            <div class="form-group">
                <label class="control-label col-sm-3">Номер зачётной книжки</label>
                <div class="col-sm-9">
                    <p class="form-control-static" th:text="${student.id}">124234435</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Фамилия</label>
                <div class="col-sm-9">
                    <p class="form-control-static" th:text="${student.lastName}">Пупкин</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Имя</label>
                <div class="col-sm-9">
                    <p class="form-control-static" th:text="${student.firstName}">Василий</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Дата рождения</label>
                <div class="col-sm-9">
                    <p class="form-control-static" th:text="${student.birthDate}">1990-01-01</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Группа</label>
                <div class="col-sm-9">
                    <p class="form-control-static" th:text="${student.groupByGroupId.id}">ИКПИ-44</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Курс</label>
                <div class="col-sm-9">
                    <p class="form-control-static" th:text="${student.groupByGroupId.course}">3</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Специальность</label>
                <div class="col-sm-9">
                    <p class="form-control-static"
                       th:text="${student.groupByGroupId.specialtyBySpecialtyId.id + ' ' + student.groupByGroupId.specialtyBySpecialtyId.name}">
                        09.03.04 Программная инженерия
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Факультет</label>
                <div class="col-sm-9">
                    <p class="form-control-static"
                       th:text="${student.groupByGroupId.specialtyBySpecialtyId.facultyByFacultyId.name}">ИКСС</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>