<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="student" type="ru.eninja.piaps.domain.impl.Student"*/-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Информация о студенте</title>
    <link rel="stylesheet" href="../../../static/node_modules/bootstrap/dist/css/bootstrap.css"
          th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="~{_navbar :: navbar}"></div>
<div class="container" style="margin-top: 70px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Информация о студенте</h3>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal" th:object="${student}">
                        <div class="form-group">
                            <label class="control-label col-sm-5">Номер зачётной книжки</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="*{id}">12312321</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-5">Фамилия</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="*{lastName}">Пупкин</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-5">Имя</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="*{firstName}">Василий</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-5">Дата рождения</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="*{birthDate}">1996-01-01</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-5">Факультет</label>
                            <div class="col-sm-7">
                                <p class="form-control-static"
                                   th:text="*{groupByGroupId.specialtyBySpecialtyId.facultyByFacultyId.name}">ИКСС</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-5">Специальность</label>
                            <div class="col-sm-7">
                                <p class="form-control-static"
                                   th:text="*{groupByGroupId.specialtyBySpecialtyId.name}">Программная инженерия</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-5">Группа</label>
                            <div class="col-sm-7">
                                <p class="form-control-static"
                                   th:text="*{groupByGroupId.id}">ИКПИ-44</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-5">Курс</label>
                            <div class="col-sm-7">
                                <p class="form-control-static"
                                   th:text="*{groupByGroupId.course}">3</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <form class="row" th:action="@{/students/{id}/delete(id=${student.id})}" th:method="delete">
                        <div class="col-sm-6">
                            <a class="btn btn-warning" href="createOrUpdateStudentForm.html"
                               th:href="@{/students/{id}/edit(id=${student.id})}">Изменить</a>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-danger" type="submit">Удалить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../../static/node_modules/jquery/dist/jquery.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../../../static/node_modules/bootstrap/dist/js/bootstrap.js" th:src="@{/js/bootstrap.min.js}"></script>
</html>