<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Факультеты</title>
    <link rel="stylesheet" href="../../../static/node_modules/bootstrap/dist/css/bootstrap.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../../static/css/treeview.css" th:href="@{/css/treeview.css}"/>
</head>
<body>
<div class="container">
    <div class="list-group list-group-root well">
        <!--/*@thymesVar id="page" type="org.springframework.data.domain.Page<ru.eninja.piaps.domain.Faculty>"*/-->
        <div th:each="faculty : ${page}" th:with="facultyLink=${'item-' + facultyStat.index}">
            <a href="#item-0" class="list-group-item" data-toggle="collapse" th:href="${'#' + facultyLink}">
                <i class="glyphicon glyphicon-chevron-right"></i><span th:text="${faculty.name}">РТС</span>
            </a>
            <div id="item-0" class="list-group collapse" th:id="${facultyLink}">
                <div th:each="specialty : ${faculty.specialtiesById}"
                     th:with="specialtyLink=${facultyLink + '-' + specialtyStat.index}">
                    <a href="#item-0-0" class="list-group-item" data-toggle="collapse" th:href="${'#' + specialtyLink}">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                        <span th:text="${specialty.id + ' ' + specialty.name}">
                            09.03.01 Информатика и вычислительная техника
                        </span>
                    </a>
                    <div id="item-0-0" class="list-group collapse" th:id="${specialtyLink}">
                        <div th:each="group : ${specialty.groupsById}"
                             th:with="groupLink=${specialtyLink + '-' + groupStat.index}">
                            <a href="#item-0-0-0" class="list-group-item" data-toggle="collapse"
                               th:href="${'#' + groupLink}">
                                <i class="glyphicon glyphicon-chevron-right"></i>
                                <span th:text="${group.id}">ИКВТ-31</span>
                            </a>
                            <div id="item-0-0-0" class="list-group collapse" th:id="${groupLink}">
                                <a href="../students/student.html" class="list-group-item"
                                   th:each="student : ${group.studentsById}"
                                   th:text="${student.lastName + ' ' + student.firstName}"
                                   th:href="@{/students/{id}(id=${student.id})}">Иванов</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../../static/node_modules/jquery/dist/jquery.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../../../static/node_modules/bootstrap/dist/js/bootstrap.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../../static/js/treeview.js" th:src="@{/js/treeview.js}"></script>
</html>